{% extends "base_tgy1.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class = "container">

	<div class = "row">
	 <div class = "col-xs-4">
		<h3><span class = "label label-primary">基金基本信息表</span></h3>
	 </div>
	</div>
	<br />
	<div class = "row">
	 <div class = "col-xs-2">
		<div class="dropdown">
			<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
					data-toggle="dropdown">
				基金(专户)静态数据选择
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation" class="dropdown-header">基金选项</li>
				<li role="presentation" >
					<a role="menuitem" tabindex="-1" href="#">基金概况</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="#">基金规模</a>
				</li>
				<li role="presentation" class="divider"></li>
				
				<li role="presentation" class="dropdown-header">专户选项</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="#">专户概况</a>
				</li>
			</ul>
		</div>
	</div>
	<form method="post">
    <div class ="col-xs-2">
     	<button type="submit" class="btn btn-success">确认</button>
    </div>
    </form>
	</div>
	<br />
	<div class = "row">
		<!-- {% include 'includes/_tb1.html' %} -->
		{{info|safe}}
	</div>
</div>
{% endblock %}