{% extends "bootstrap/base.html"%}
 
{% block title%}指数评价系统{% endblock %}<!--覆盖title标签-->
 
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle"
			data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">指数评价系统</a>
		</div>
	<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
	<li><a href="/">指数分析</a></li>
	<li><a href="/">Smart收益</a></li>
	<li><a href="/">模拟测试</a></li>
</ul>
</div>

</div>
</div>
{% endblock %}
{% block content %} <!--具体内容-->
<div class="container">
</div>
{% endblock %}